<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--게시판 목록 servlet-->
    <servlet>
        <servlet-name>AlphaLeeBoardServlet</servlet-name>
        <servlet-class>servlet.AlphaLeeBoadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlphaLeeBoardServlet</servlet-name>
        <url-pattern>/alphalee/board/list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SingUpMemberProcessorServlet</servlet-name>
        <servlet-class>servlet.SingUpMemberProcessorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SingUpMemberProcessorServlet</servlet-name>
        <url-pattern>/alphalee/member/signup/process</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WriteServlet</servlet-name>
        <servlet-class>servlet.Write</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WriteServlet</servlet-name>
        <url-pattern>/alphalee/member/write/</url-pattern>
    </servlet-mapping>


</web-app>